body {
  align-content: center;
  margin-left: 0px;
  width: 100%;
}

.mainElevator {
  background-color: #005868;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
.mainElevator .subBlock {
  width: 230px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.mainElevator .blockss {
  background-color: #acdeff;
  width: 90%;
  height: 900px;
}
.mainElevator .blockss .el {
  background-color: #61686d;
  width: 136px;
  height: 100px;
  border: solid black;
  opacity: 0.8;
  position: relative;
  align-items: center;
  left: 33px;
  overflow: hidden;
  background-image: URL("lift.jpg");
  background-size: 100% 100%;
  align-content: center;
}
.mainElevator .blockss .el input {
  text-align: center;
  width: 15px;
  height: 20px;
  align-items: center;
  margin-left: 0px;
  right: 43%;
  background-color: none;
  opacity: 0;
  border: none;
  color: black;
  position: absolute;
}
.mainElevator .blockss .el .rightDoor {
  background-color: rgba(192, 192, 192, 0.719);
  width: 63px;
  height: 95px;
  position: relative;
  border: solid saddlebrown;
  left: 0px;
  float: right;
}
.mainElevator .blockss .el .leftDoor {
  background-color: rgba(192, 192, 192, 0.719);
  width: 61px;
  height: 95px;
  position: relative;
  border: solid saddlebrown;
  float: left;
  right: 0px;
}
.mainElevator .block-buttons {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 800px;
  width: 150px;
}
.mainElevator .block-buttons .maintenance span {
  color: white;
  text-align: right;
  width: 100%;
  font-size: small;
}
.mainElevator .block-buttons .floor {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: baseline;
}
.mainElevator .block-buttons .floor .floorNo {
  background-color: white;
  color: #005868;
  border: solid black;
  border-radius: 50px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 20px;
  float: right;
}
.mainElevator .block-buttons .floor .btns {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  background-color: #005868;
  color: white;
  font-size: 25px;
}
.mainElevator .block-buttons .floor .btns :active {
  background-color: white;
  color: #005868;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-grid;
  width: 60px;
  height: 34px;
  margin-top: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 50px;
  height: 50px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  height: 78%;
  width: 78%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0.5px;
  bottom: 4.5px;
  background-color: white;
  transition: 0.4s;
  width: 40%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*# sourceMappingURL=style2.css.map */